.cartCard {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  background-color: #FAFAFA;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  align-items: center;  
  width: 100%;     
  min-width: 700px; 
}

.cartCard:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transform: translateY(-4px);
}

.snikersPic {
  width: 200px;    
  height: 200px;         
  object-fit: contain;   
  padding: 10px;
  border-right: 2px solid #ddd;
}

.cartInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between; 
  gap: 40px;
  width: 100%;
  flex: 1;
}

.cartInfo h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.priceBlock {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  margin-right: 100px;
}

.priceBlock p {
    font-size: 20px;
    font-weight: 600; 
}

.deleteBtn {
  background-color: #f3f3f3;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: #ddd;
}
