.main {
  max-width: 1140px;     
  margin: 0 auto;          
  padding: 20px;

}


.banner {
  width: 100%;
  object-fit: cover;
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.mainP {
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid #ddd;
  padding: 40px;
  margin-bottom: 30px;

}


.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}