.cartMain {
  max-width: 1140px;
  margin: 40px auto;
  padding: 20px;
}

.cartMain h1 {
  text-align: left;
  color: #000;
  font-size: 24px;
  border-bottom: 2px solid #ddd;
  margin-bottom: 70px;
  padding-bottom: 50px;
}

.cartContent {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  flex-wrap: wrap;
}

.totalPrice {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  color: #000;
  width: 35%; 
  background-color: #FAFAFA;
  padding: 50px;
}

.total {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

.info {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  font-size: 20px;
}
 
.price {
  width: 100%;
  text-align: left;
  margin-top: 20px;
}

.priceLine {
  border-top: 2px solid #ddd;
  width: 100%;
  margin-bottom: 10px; 
}

.price span {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 6px; 
}

.price p {
  font-size: 24px;
  font-weight: bold;
}



