.header {
  display: flex;
  background-color: #3B3C3D;
  justify-content: space-between;
  color: #fff;
  padding: 43px 230px 38px 230px;
  align-items: center;
}


.header nav {
  display: flex;
  gap: 40px;
}

.inactiveLink {
  color: #fff;  
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.inactiveLink:hover {
  color: #928e8e;
}


.activeLink {
  color: #928e8e;  
  text-decoration: none;
  font-weight: 600;
}